/* Basic CSS resets -- leveling slight inconsistencies in browsers */

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&display=swap');

html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
    margin: auto;
    text-align: auto;
    background-image: linear-gradient(to bottom right, darkred, darkgreen);
    background-attachment: fixed;
    color: white;
}

header {
    width: 100%;
    height: 20vh;        
    padding: 3px;
    background: url(CollegeLife.jpeg) top center repeat-y;
    background-size: cover;
    background-position:50% 50%;
}

p {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    padding: 5px;
}

h1 {
    padding: 5px;
    font-family: 'Merienda', cursive;
    font-size: 40px;
}

h2, h3 {
    padding: 5px;
    font-family: 'Merienda', cursive;
    font-size: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

#item1 {
    width: 375px;
    height: auto;
    padding: 3px;   
    margin: 3px
}

#item2 {
    width: 450px;
    height: auto;
    padding: 3px;   
    margin: 3px
}

#item3 {
    width: 375px;
    height: auto;
    padding: 3px;   
    margin: 3px
}

#item4 {
    width: 375px;
    height: auto;
    padding: 3px;   
    margin: 3px
}

footer {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    height: 40px;
    text-align: center;
}

/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {


} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
    img {
        max-width: 100%;
        height: auto;
    }
    
    #item1 {
        width: 375px;
        height: auto;
        float: right;
        padding: 3px;
        margin: 0 0 0 15px;
    }
    
    #item2 {
        width: 450px;
        height: auto;
        float: right;
        padding: 3px;
        margin: 0 0 0 15px;
    }
    
    #item3 {
        width: 375px;
        height: auto;
        float: right;
        padding: 3px;
        margin: 0 0 0 15px;
    }
    
    #item4 {
        width: 375px;
        height: auto;
        float: right;
        padding: 3px;
        margin: 0 0 0 15px;
    }
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
    img {
        max-width: 100%;
        height: auto;
    }
    
    #item1 {
        width: 375px;
        height: auto;
        float: right;
        padding: 3px;
        margin: 0 0 0 15px;
    }
    
    #item2 {
        width: 450px;
        height: auto;
        float: right;
        padding: 3px;    
        margin: 0 0 0 15px;
    }
    
    #item3 {
        width: 375px;
        height: auto;
        float: right;
        padding: 3px;    
        margin: 0 0 0 15px;
    }
    
    #item4 {
        width: 375px;
        height: auto;
        float: right;
        padding: 3px;    
        margin: 0 0 0 15px;
    }
	
} /* closes 1024px+ */